<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <h1>FORMULARIO CLASE #2</h1>
    <span>Genero</span>
    <el-radio v-model="radio" label="1">F</el-radio>
    <el-radio v-model="radio" label="2">M</el-radio>
    <br>
     <el-input-number v-model="num1" @change="handleChange" :min="1" :max="99"></el-input-number>
    <br>
    <el-select v-model="value" placeholder="Select">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>

    <br>
    <el-checkbox v-model="checked">Termino de condiciones</el-checkbox>
    <br>
    <el-button @click="visible = true">Subir</el-button>
    <el-dialog :visible.sync="visible" title="Hola">
      <p>Prueba</p>
    </el-dialog>
  </div>
    <el-button @click="visible = true">Buton</el-button>
    <el-dialog :visible.sync="visible" title="Hola">
      <p>Prueba</p>
    </el-dialog>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      }
    })
  </script>
</html>