<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
  </div>
  <h1>Formulario</h1>
  <br>
<el-input placeholder="introduce tu ID" v-model="input"></el-input>
<br><br>
<el-input placeholder="introduce tu nombre" v-model="input"></el-input>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="./main.js"></script>
  <script>
    export default {
      data() {
        return {
          input: ''
        }
      }
    }
    </script>
    <script>
      export default {
        data() {
          return {
            input: ''
          }
        }
      }
      </script>
</html>
